package {{PackageName}}.controller;
{{#hasLightDTO}}
import {{PackageName}}.dto.Light{{ClassName}}DTO;
{{/hasLightDTO}}
import {{PackageName}}.dto.{{ClassName}}DTO;
import {{PackageName}}.service.{{ClassName}}Service;

import jakarta.validation.Valid;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;
{{#Paginated}}
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
{{/Paginated}}

import java.util.List;
{{#Imports}}
import {{.}};
{{/Imports}}

@RequiredArgsConstructor
@RestController
@RequestMapping("/api/v1/{{className}}")
public class {{ClassName}}Controller{
    private final {{ClassName}}Service {{className}}Service;

    @GetMapping
    public List<{{#hasLightDTO}}Light{{/hasLightDTO}}{{ClassName}}DTO> getAll() {
        return {{className}}Service.findAll();
    }

    @GetMapping("/{id}")
    public {{ClassName}}DTO getById(@PathVariable {{IdType}} id) {
        return {{className}}Service.findById(id);
    }

    {{#Paginated}}
    @GetMapping("/p")
    public Page<{{#hasLightDTO}}Light{{/hasLightDTO}}{{ClassName}}DTO> getAllPaginated(Pageable pageable){
        return {{className}}Service.findAllPaginated(pageable);
    }
    {{/Paginated}}

    @PostMapping
    public {{ClassName}}DTO save(@Valid @RequestBody {{ClassName}}DTO dto) {
        return {{className}}Service.save(dto);
    }

    @PutMapping
    public {{ClassName}}DTO update(@Valid @RequestBody {{ClassName}}DTO dto) {
        return {{className}}Service.update(dto);
    }

    @DeleteMapping("/{id}")
    public void delete(@PathVariable {{IdType}} id) {
        {{className}}Service.delete(id);
    }
}

//Generated by Sprout