package {{PackageName}}.mapper;

import {{PackageName}}.entity.{{ClassName}};
import {{PackageName}}.dto.{{ClassName}}DTO;
import org.springframework.stereotype.Component;
import lombok.RequiredArgsConstructor;

{{#Imports}}
import {{.}};
{{/Imports}}

/**
* Mapper for {@link {{PackageName}}.entity.{{ClassName}} }
*/
@Component
@RequiredArgsConstructor
public class {{ClassName}}Mapper {
    {{#Dependencies}}
    private final {{type}} {{name}};
    {{/Dependencies}}

    public {{ClassName}} toEntity({{ClassName}}DTO dto) {
        if (dto == null) {
            return null;
        }

        {{ClassName}} entity = new {{ClassName}}();

        {{#Fields}}
        entity.set{{name}}(dto.get{{name}}());
        {{/Fields}}

        {{#Associations}}
        // Mapping association: {{field.name}}
        if (dto.get{{field.name}}() != null) {
            {{#multiple}}
            entity.set{{field.name}}(ArrayList::new);
            for({{id.type.regularName}} id : dto.get{{field.name}}()) {
                entity.get{{field.name}}().add({{field.type.regularName}}Repo.findById(id).orElse(null));
            }
            {{/multiple}}
            {{^multiple}}
                entity.set{{field.name}}({{field.type.regularName}}Repo.findById(dto.get{{field.name}}()).orElse(null));
            {{/multiple}}
        }
        {{/Associations}}

        return entity;
    }

    public {{ClassName}}DTO toDto({{ClassName}} entity) {
        if (entity == null) {
            return null;
        }

        {{ClassName}}DTO dto = new {{ClassName}}DTO();

        {{#Fields}}
        dto.set{{name}}(entity.get{{name}}());
        {{/Fields}}

        {{#Associations}}
        if (entity.get{{field.name}}() != null) {
            dto.set{{field.name}}(entity.get{{field.name}}().get{{id.name}}());

        {{#multiple}}
            dto.set{{field.name}}(HashSet::new);
            for({{id.type.regularName}} sub : entity.get{{field.name}}()) {
                dto.get{{field.name}}().add(sub);
            }
        {{/multiple}}
        {{^multiple}}
            entity.set{{field.name}}({{field.type.regularName}}Repo.findById(dto.get{{field.name}}()).orElse(null));
        {{/multiple}}

        }
        {{/Associations}}

        return dto;
    }
}

//Generated by Sprout