package {{PackageName}}.mapper;

import {{PackageName}}.entity.{{ClassName}};
import {{PackageName}}.dto.{{ClassName}}DTO;
import org.mapstruct.Mapper;

{{#Imports}}
import {{.}};
{{/Imports}}

/**
* Mapper for {@link {{PackageName}}.entity.{{ClassName}} }
*/
@Mapper(componentModel = "spring")
public abstract class {{ClassName}}Mapper {
    {{#Dependencies}}

    @Autowired
    private {{type}} {{name}} ;
    {{/Dependencies}}

    //Map to DTO
    public abstract {{ClassName}}DTO toDTO({{ClassName}} entity);

    //Map to Entity
    public abstract {{ClassName}} toEntity({{ClassName}}DTO dto);

    {{#Associations}}
    public {{#multiple}}List<{{/multiple}}{{className}}{{#multiple}}>{{/multiple}} mapIdTo{{className}}{{#multiple}}s{{/multiple}}({{#multiple}}List<{{/multiple}}{{id.type.regularName}}{{#multiple}}>{{/multiple}} id{{#multiple}}s{{/multiple}}){
        if(id{{#multiple}}s{{/multiple}} == null){
            return null;
        }
            return {{field.type.regularName}}Repo.find{{#multiple}}All{{/multiple}}ById(id{{#multiple}}s{{/multiple}}){{^multiple}}.orElse(null){{/multiple}};
    }

    public {{#multiple}}List<{{/multiple}}{{id.type.regularName}}{{#multiple}}>{{/multiple}} map{{className}}{{#multiple}}s{{/multiple}}ToId{{#multiple}}s{{/multiple}}({{#multiple}}List<{{/multiple}}{{className}}{{#multiple}}>{{/multiple}} entit{{^multiple}}y{{/multiple}}{{#multiple}}ies{{/multiple}}){
        if(entit{{#multiple}}ies{{/multiple}}{{^multiple}}y{{/multiple}} == null){
            return null;
        }
        return entit{{#multiple}}ies.stream().map(e -> e.get{{id.name}}()).toList(){{/multiple}}{{^multiple}}y.get{{id.name}}(){{/multiple}};
    }
    {{/Associations}}

}

//Generated by Sprout