package {{PackageName}}.service;

import {{PackageName}}.entity.{{ClassName}};
import {{PackageName}}.dto.{{ClassName}}DTO;
import {{PackageName}}.exception.{{ClassName}}NotFoundException;
import {{PackageName}}.mapper.{{ClassName}}Mapper;
import {{PackageName}}.repository.{{ClassName}}Repository;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;
import java.util.stream.Collectors;

{{#Imports}}
import {{.}};
{{/Imports}}

@RequiredArgsConstructor
@Service
public class {{ClassName}}Service{
    private final {{ClassName}}Repository {{className}}Repository;
    private final {{ClassName}}Mapper {{className}}Mapper;

    @Transactional(readOnly = true)
    public List<{{ClassName}}DTO> findAll() {
        return {{className}}Repository.findAll().stream()
                .map({{className}}Mapper::toDTO)
                .collect(Collectors.toList());
    }

    @Transactional(readOnly = true)
    public {{ClassName}}DTO findById({{IdType}} id) {
        return {{className}}Repository.findById(id)
                .map({{className}}Mapper::toDTO)
                .orElseThrow(() -> new {{ClassName}}NotFoundException("{{ClassName}} not found with id: " + id));
    }

    @Transactional
    public {{ClassName}}DTO save({{ClassName}}DTO dto) {
        {{ClassName}} entity = {{className}}Mapper.toEntity(dto);
        return {{className}}Mapper.toDTO({{className}}Repository.save(entity));
    }

    @Transactional
    public {{ClassName}}DTO update({{ClassName}}DTO dto) {
        if (!{{className}}Repository.existsById(dto.{{Id}}())) {
            throw new {{ClassName}}NotFoundException("Cannot delete: {{ClassName}} not found with id: " + dto.{{Id}}());
        }

        {{ClassName}} entity = {{className}}Mapper.toEntity(dto);
        return {{className}}Mapper.toDTO({{className}}Repository.save(entity));
    }

    @Transactional
    public void delete({{IdType}} id) {
        if (!{{className}}Repository.existsById(id)) {
            throw new {{ClassName}}NotFoundException("Cannot delete: {{ClassName}} not found with id: " + id);
        }
        {{className}}Repository.deleteById(id);
    }
}

//Generated by Sprout